* {
  font-family: "Poppins", sans-serif;
}

.container {
  border: 8px solid rgb(134, 180, 233);
  background-color: rgb(154, 190, 232);
  /* border: 8px solid rgb(49, 129, 220); */
  padding: 50px 80px;
  border-radius: 40px;
  margin: 20px 0;
}

h1 {
  font-size: 400px;
}

.dream-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  gap: 40px;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  background-color: white;
}

.dream-container input[type="checkbox"]:checked {
  background-color: rgb(49, 129, 220);
}

input[type="text"] {
  width: 210px;
  height: 28px;
  font-size: large;
  border-radius: 3px;
  border: 1px solid rgb(49, 129, 220);
  box-shadow: none;
  background: rgb(49, 129, 220);
}

button {
  margin-left: 10px;
  color: white;
  background-color: rgb(49, 129, 220) !important;
}

.isFulFilled {
  text-decoration: line-through;
  /* text-decoration-color: rgb(49, 129, 220); */
  text-decoration-thickness: 2px;
}

ul {
  list-style: none;
  padding: 0;
}
