.container {
  border: 8px solid rgb(49, 129, 220);
  padding: 50px 80px;
  border-radius: 10%;
}

.dream-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  gap: 40px;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

input[type="text"] {
  width: 210px;
  height: 28px;
  font-size: large;
  border-radius: 3px;
  box-shadow: none !important;
}

button {
  margin-left: 10px;
}

.isFulFilled {
  text-decoration: line-through;
}

ul {
  list-style: none;
  padding: 0;
}
